* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Carme", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
}

header {
  display: flex;
  background-color: #fff;
  border-bottom: 2px solid #0D519B;
  align-items: center;
  padding: 0 1rem 0 1rem;
}
header .logo {
  max-width: 20vh;
}

#nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
}
#nav .left,
#nav .right {
  display: flex;
}
#nav .left .nav-list,
#nav .right .nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}
#nav .left .nav-list a,
#nav .right .nav-list a {
  text-decoration: none;
  color: #0D519B;
}

.open-menu, .close-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .open-menu, .close-menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  .open-menu, .close-menu {
    color: #0D519B;
  }
  header {
    justify-content: space-between;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex !important;
    flex-direction: column !important;
    align-items: end !important;
    justify-content: flex-start !important;
    gap: 1rem;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 2rem !important;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    width: 35vh !important;
    z-index: 1000;
    height: 100vh;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
  }
}
.background {
  position: relative;
  width: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.wrap-products h2 {
  font-size: 28px;
  color: #0D519B;
  text-align: center;
  margin-top: 60px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px;
}

.product {
  position: relative;
  overflow: hidden;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in-out;
}

.product .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.product:hover .original-image {
  opacity: 0;
}

.product:hover .hover-image {
  opacity: 1;
}

.product p {
  position: relative;
  z-index: 2;
}

#footer {
  border-top: 2px solid #0D519B;
}

#footer .footer-wrapper {
  padding-top: 24px;
  padding-bottom: 3rem;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 1900.8px) {
  #footer .footer-wrapper {
    padding-bottom: 198px;
  }
}
@media screen and (max-width: 230.4px) {
  #footer .footer-wrapper {
    padding-bottom: 24px;
  }
}
#footer .left {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  color: #0D519B;
}

@media screen and (min-width: 1900.8px) {
  #footer .left {
    gap: 55px;
  }
}
@media screen and (max-width: 864px) {
  #footer .left {
    gap: 25px;
  }
}
#footer .left:before {
  display: none;
  content: "";
  width: calc(100% + 32px);
  height: 1px;
  background: #000;
  position: absolute;
  top: 0;
  left: -16px;
}

#footer .column {
  flex-direction: column;
}

#footer .column,
#footer .column .text {
  display: flex;
  position: relative;
}

#footer .column .text {
  padding: 8px 0;
  transition: all 0.22s cubic-bezier(0.39, 0.575, 0.565, 1);
  width: fit-content;
  font-size: 14px;
  font-family: "Carme", sans-serif;
  color: rgba(13, 82, 155, 0.6431372549);
}

#footer .column .text,
#footer .title {
  align-items: center;
  text-transform: uppercase;
}

#footer .title {
  font-family: "Carme", sans-serif;
  font-size: 16px;
}

#footer .right {
  max-width: 371px;
  display: flex;
  flex-direction: column;
  color: #0D519B;
}

#footer .right .title {
  padding-bottom: 1rem;
}

#footer .right #form-promotions {
  font-family: "Carme", sans-serif;
}

#footer .right #form-promotions #email {
  display: flex;
  width: calc(100% - 50px);
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
}

#footer .right #form-promotions #email::placeholder {
  font-family: "Carme", sans-serif;
  color: rgba(0, 0, 0, 0.5882352941);
  padding-left: 8px;
}

#footer .right .text {
  margin-bottom: 24px;
  padding-top: 1rem;
  font-size: 16px;
  font-family: "Carme", sans-serif;
  line-height: 1.21;
  color: rgba(13, 82, 155, 0.7411764706);
}

#footer .btn {
  width: 160px;
}

#footer .bottom {
  justify-content: space-between;
  padding-bottom: 1rem;
}

#footer .bottom .text {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Carme", sans-serif;
  line-height: 1.21;
  color: #0D519B;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1900.8px) {
  #footer .bottom {
    padding-bottom: 26.4px;
  }
}
@media screen and (max-width: 1152px) {
  #footer .bottom {
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 959px) {
  #footer .left {
    gap: 0;
    row-gap: 20px;
  }
  #footer .column {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  #footer .footer-wrapper {
    padding-top: 32px;
    flex-direction: column-reverse;
    padding-bottom: 0;
    overflow: hidden;
  }
  #footer .right {
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
    max-width: 100%;
  }
  #footer .right .title {
    margin-bottom: 24px;
  }
  #footer .btn {
    width: 100%;
  }
  #footer .left {
    width: 100%;
    row-gap: 0;
  }
  #footer .left:before {
    display: flex;
  }
  #footer .column {
    padding: 24px 0 16px;
    min-height: 200px;
  }
  #footer .column:nth-of-type(2n) {
    padding-left: 32px;
    border-left: 1px solid #000;
  }
  #footer .column span {
    position: absolute;
    height: 1px;
    width: calc(200% + 32px);
    bottom: 0;
    left: -16px;
    background: #000;
  }
  #footer .bottom {
    padding-top: 24px;
  }
  #footer .bottom .text {
    font-size: 12px;
  }
  #footer .right #form-promotions #email {
    width: calc(100% + 0px);
  }
}
.c-24 {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 1900.8px) {
  .c-24 {
    padding-left: 26.4px;
    padding-right: 26.4px;
  }
}
@media screen and (max-width: 1024px) {
  .c-24 {
    padding: 0 20px;
  }
}
@media screen and (max-width: 959px) {
  .c-24 {
    padding: 0 16px;
  }
}
.btn {
  height: 49px;
  background: #000;
  border-radius: 2px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.481);
  transition: all 0.22s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.newsletter {
  color: #000;
  background: #FFCC00;
}

.newsletter:hover {
  background: #fff;
  border-color: #000;
}

.effect-hover:after {
  content: "";
  width: calc(100% + 2px);
  height: 4px;
  background: rgba(255, 204, 0, 0.3764705882);
  opacity: 0.75;
  position: absolute;
  left: -1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.24s cubic-bezier(0.39, 0.575, 0.565, 1);
  pointer-events: all;
}

.effect-hover:hover:after {
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scaleX(100%);
}

#main-product-view .top {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#main-product-view .top .left {
  display: flex;
  position: relative;
}
#main-product-view .top .left .slides {
  width: 100%;
  overflow: hidden;
}
#main-product-view .top .left .slides .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4px;
}
#main-product-view .top .left .slides .inner .slide {
  display: flex;
  width: calc(50% - 2px);
  overflow: hidden;
}
#main-product-view .top .left .slides .inner .slide img {
  width: 60vh;
  display: flex;
  object-fit: cover;
}
#main-product-view .top .right {
  width: 25vw;
  margin-left: 6vw;
  top: 20px;
}
#main-product-view .top .right .header {
  margin-bottom: 1.5vw;
  width: 70%;
}
#main-product-view .top .right .price-wrapper {
  display: flex;
  flex-direction: column;
}
#main-product-view .top .right .price-wrapper .price {
  font-size: 20px;
}
#main-product-view .top .right .option-drawer .options-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5vw;
}
#main-product-view .top .right .option-drawer .options-wrapper .option-title {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
#main-product-view .top .right .option-drawer .options-wrapper .options {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
#main-product-view .top .right .option-drawer .options-wrapper .options .option {
  padding: 2px;
  flex: 1;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
  max-width: 158px;
}
#main-product-view .top .right .option-drawer .options-wrapper .options .btn.white {
  color: #000;
  background: #fff;
  width: fit-content;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#main-product-view .top .right .option-drawer .options-wrapper .options .option.selected {
  background-color: #000;
  color: #fff;
}
#main-product-view .top .right .atc-form .btn {
  width: 100%;
}
#main-product-view .top .right .btn.black {
  color: #fff;
  background: #000;
  height: 49px;
  font-size: 16px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#main-product-view .top .right .add-to-cart:hover {
  color: #000;
  background-color: #fff;
}

.about-container .fondo-about {
  width: 100%;
  max-height: 75vh;
}
.about-container .first-scheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 14px;
}
.about-container .first-scheme .image-scheme {
  width: 50%;
}
.about-container .first-scheme .text-container {
  margin: 4rem;
  max-width: 30rem;
}
.about-container .first-scheme .text-container h2 {
  margin-bottom: 1rem;
}
.about-container .first-scheme .text-container .text-content p {
  margin-bottom: 1rem;
}
.about-container .second-scheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.about-container .second-scheme .image-scheme {
  width: 50%;
}
.about-container .second-scheme .text-container {
  margin: 4rem;
  max-width: 30rem;
}
.about-container .second-scheme .text-container h2 {
  margin-bottom: 1rem;
}
.about-container .second-scheme .text-container .text-content p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .first-scheme, .second-scheme {
    flex-direction: column !important;
    text-align: center;
  }
  .first-scheme .image-scheme, .second-scheme .image-scheme {
    width: 100% !important;
  }
  .first-scheme .text-container, .second-scheme .text-container {
    width: auto !important;
  }
}
.contact-container {
  margin: 8rem;
}
.contact-container .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container .contact-content h2 {
  margin-bottom: 2rem;
  color: #0D519B;
}
.contact-container .contact-content p {
  margin-bottom: 3rem;
  text-align: center;
  max-width: 18rem;
}
.contact-container .contact-content .form-contact {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-content .form-contact input {
  margin-bottom: 0.5rem;
  width: 20rem;
  height: 2.5rem;
}
.contact-container .contact-content .form-contact input::placeholder {
  padding-left: 1rem;
}
.contact-container .contact-content .form-contact #contact-submit {
  background-color: #000;
  color: #fff;
  transition: all 0.22s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.contact-container .contact-content .form-contact #contact-submit:hover {
  background-color: rgba(0, 0, 0, 0.358);
}

@media screen and (max-width: 425px) {
  .contact-container .contact-content {
    text-align: center;
    font-size: 15px;
  }
  .contact-container .contact-content p {
    width: 15rem;
  }
  .contact-container .contact-content .form-contact input {
    width: 18rem;
  }
}
.bag-container .order {
  display: flex;
  justify-content: space-between;
  background-color: #F4F4F4;
}
.bag-container .order .left {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  width: 40rem;
}
.bag-container .order .left .all-products {
  background-color: #FFFFFF;
  margin-bottom: 1rem;
}
.bag-container .order .left .all-products h2 {
  margin: 1.2rem;
}
.bag-container .order .left .order-container {
  background-color: #FFFFFF;
}
.bag-container .order .left .order-container .order-product {
  align-items: center;
  margin: 1.5rem;
  display: flex;
}
.bag-container .order .left .order-container .order-product img {
  max-height: 12rem;
  border: 2px solid black;
}
.bag-container .order .left .order-container .order-product .product-detail {
  margin-left: 1rem;
}
.bag-container .order .left .order-container .order-product .product-detail p {
  margin-bottom: 1.5rem;
}
.bag-container .order .left .order-container .order-product .product-detail .delete-product, .bag-container .order .left .order-container .order-product .product-detail .add-product {
  background-color: #000;
  color: #FFFFFF;
  border: 0px;
  border-radius: 3px;
  height: 25px;
  width: 20px;
  transition: all 0.22s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.bag-container .order .left .order-container .order-product .product-detail .add-product:hover, .bag-container .order .left .order-container .order-product .product-detail .delete-product:hover {
  background-color: rgba(0, 0, 0, 0.358);
}
.bag-container .order .left .order-container .bill-order {
  margin: 1.5rem;
}
.bag-container .order .right {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  gap: 1rem;
}
.bag-container .order .right .top {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 25rem;
  gap: 1.5rem;
  padding: 1.5rem;
}
.bag-container .order .right .top p {
  display: flex;
  flex-direction: row-reverse;
}
.bag-container .order .right .top button {
  background-color: #000;
  color: #FFFFFF;
  border-radius: 2px;
  height: 45px;
  transition: all 0.22s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.bag-container .order .right .top button:hover {
  background-color: rgba(0, 0, 0, 0.358);
}
.bag-container .order .right .bottom {
  width: 25rem;
  background-color: #ffffff;
  padding: 2rem;
}
.bag-container .order .right .bottom h2 {
  padding-bottom: 2rem;
}
.bag-container .order .right .bottom img {
  padding-bottom: 2rem;
}



/*# sourceMappingURL=styles.css.map */
